django-itprog02/itproger/__pycache__/__init__.cpython-310.pyc
django-itprog02/itproger/__pycache__/settings.cpython-310.pyc
django-itprog02/itproger/__pycache__/urls.cpython-310.pyc
django-itprog02/itproger/__pycache__/wsgi.cpython-310.pyc
